.heading {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subheading {
    font-size: xx-large;
    color: chartreuse;
    border: 2px solid rgba(255, 255, 255, 0.808);
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: 20em;
    border-style: ridge;
}

.footer {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-width: 5px;
}

@keyframes transition {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}

@keyframes moveleft {
    0% {
        left: 400pt;
    }
    100% {
        left: 0pt;
    }
}

@keyframes moveright {
    0% {
        right: 300pt;
    }
    100% {
        right: 0pt;
    }
}

.left {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation-name: moveleft;
    animation-duration: 2s;
}

.right {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
    animation-name: moveright;
    animation-duration: 2s;
}

.transeffect {
    background-color: red;
    width: 300px;
    border: 15px solid rgba(255, 255, 255, 0.808);
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    padding: 30px;
    margin: 15px;
    position: relative;
    animation-name: transition;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

li {
    font-size: medium;
    color: gold;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}

p {
    font-size: medium;
}

.neonText {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.gradient {
    background-image: linear-gradient(to right, #4169e1, #FF10F0);
}


/* Additional styling */

@keyframes bgt {
    0% {
        background-color: #01011a
    }
    50% {
        background-color: #01011ae5;
    }
    100% {
        background-color: #01011a
    }
}

body {
    font-size: 10px;
    font-family: "Vibur", sans-serif;
    background-color: #01011a;
    position: relative;
    animation-name: bgt;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

td {
    font-size: medium;
    background-color: cornsilk;
}

dt {
    color: skyblue;
    font-size: large;
}

dd {
    color: greenyellow;
}